@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    color: #dec05f;
    text-align: center;
}

.price-tier {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}

.price-tier .tier {
    background-color: white;
    border: 1px solid black;
    margin: 0px 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.price-tier header h6 {
    background-color: #dec05f;
    text-transform: uppercase;
    color: white;
    padding: 8px 15px;
    margin: 0;
    letter-spacing: 1px;
}

.price-tier .body {
    text-align: center;
    color: #dec05f;
}

.price-tier .body img {
}

.price-tier .body .price-tag {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 10px 0px;
}

.price-tier .body button {
    background-color: #dec05f;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 24px;
    padding: 7px 15px;
    border-radius: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 4px 15px #dec05f;
}

.price-tier .body p {
    font-size: 12px;
}

.price-tier .body .shipping {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0px;
}

.price-tier .body span {
    text-decoration: line-through;
}

.price-tier .body .total-price {
    margin-top: 3px;
    margin-bottom: 20px;
}

.price-tier .body h3 {
    text-transform: uppercase;
}

.price-tier .tier:hover {
    box-shadow: 5px 5px 15px #dec05f;
}